<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<form action="/procesar-pago" method="POST">
    <script src="https://www.mercadopago.cl/integrations/v1/web-
payment-checkout.js" data-preference-id="<%= @preference_id %>">
    </script>
</form>